.personInfo{
    padding: 0px !important;
}
.nav{
    justify-content: space-around;
}
ul{
    background-color: #eee;
    padding: 5px 5px 5px 20px;
}
ul a{
    color: #999;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
ul a:hover,
ul a:visited
a.active
{
    color: #000;
    background-color:#ccc;
    border-radius: 20px;
}
.nav-item{
    margin-right: 20px;
}
.emp-profile{
    padding-top: 5px;
}
.user-img{
    padding-top: 50px;
    text-align: center;
}
.col-md-8 svg:not(:root).svg-inline--fa{
    color: #565555;
}
.view-HD{
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: green;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px;
}
.bg-primary,.view-tb{
    
 background-color: rgb(65, 167, 226) !important;
 color: #fff;
}
.view-tb{
    width: 55px;
    margin-bottom: 5px;
    border-radius: 36px;
    display: inline-block;
}
.table, td,th,thead,tbody,
.table td, .table th{
    border: none;
}
.container-fluid,.container{
    padding-left: 0;
}

.custom-select{
    width:50%;
}