.bg-light{
    padding: 10px;
    direction: rtl;
}
.p-report{
    color: #fff;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
    font-size: 24px;
    margin-left: 10px;
    color: #333;
}

.c-name{
    font-size: 25px;
}
img{
    width:100px
}
table{
    width: 100%;
}
.bg-rw{
    background-color: #c3bfbf;
}

table.tb-row tr{
    line-height: 0.5;
}

.table-bordered td, .table-bordered th,
.table-bordered ,.table thead th
{
    border-color: #333;
    border-width: 2px;
}

.end-r{
    font-size: 20px;
}